<header>
   <div class="container">
        <div class="right-header">
          <% if user_signed_in? %>
          <div class="user_nav grid-6">
           <%= link_to current_user.nickname, "/users/#{current_user.id}", class: "user-nickname"  %>
           <%= link_to 'ログアウト',destroy_user_session_path, method: :delete, class: "logout"  %>
          </div>
        <% else %>
        <div class=" grid-6">
            <%= link_to 'ログイン', new_user_session_path, class: "login" %>
            <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
          </div>
        <% end %>
        </div>
      </div>
</header>   
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name%>
    </h2>
    <div class='item-img-content'>
      <%=  image_tag @item.image, class: 'item-img' if @item.image.attached? %>
      <div class='sold-out'>
        <span>入荷待ち</span>
      </div>
      <%# / %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥ <%= @item.price %>
      </span>
      <span class="item-postage">
        (税込) <%= @item.shipping_type.name%>
      </span>
    </div>
    <div class="item-explain-box">
      <span><%= @item.description %></span>
   
    </div>

    <% if user_signed_in? && current_user.id == @item.user_id %>
        <%= link_to '商品の編集', edit_item_path , method: :get, class: "item-red-btn" %>
        <p class='or-text'>or</p>
        <%= link_to '削除', item_path(@item.id) , method: :delete, class:'item-destroy' %>
     <% end %>
      
      <%if user_signed_in? && current_user.id != @item.user_id && @item.buyer == nil %>
        <%= link_to '購入画面に進む',"#",class:"item-red-btn"%>
    
      <% end %>
    
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">生産者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.item_condition.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.shipping_type.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.ship_from.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.preparation_day.name%></td>
        </tr>
        <tr>
          <th class="detail-item">SNS</th>
          <td class="detail-value">Facebook : <%= @item.user.facebook_url %><br>Instagram : <%= @item.user.instagram_url %></td>
        </tr>
      </tbody>
    </table>
    
  </div>

   <div class="comment-box">
      <%if current_user %>
        <%=form_with(model: [@item, @comment], local: true) do |form|%>
          <P>  商品についてだけでなく野菜の作り方などの質問もコメントしてみましょう</P>
          <%= form.text_area :text,  placeholder: "コメントする", rows: "2" ,size: "80x5"%>
          <%= form.submit "SEND" %>

          <%end%>
      <%else%>
        <strong><p> コメントの投稿には新規登録/ログインが必要です </p>
        </strong>
      <%end%>
   <div class="comments">
      <h3>comments</h3>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
             <%= comment.text %>
          </p>
        <% end %>
      <% end %>
      <div class="link">
      <a href="/">TOPページへ戻る</a>
      </div>
    </div>
  </div>
 

